<div class="container mt-3 mb-3">
  <!-- NAV -->
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb mb-2 mt-5">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit User</li>
    </ol>
  </nav>
  <!-- FORM -->
  <% data.forEach((user)=>{ %>
  <form
    class="row g-3 needs-validation"
    action="/editUser/<%= user.id %>"
    method="POST"
    novalidate
  >
    <div class="col-6">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          placeholder="First Name"
          autocomplete="off"
          value="<%= user.first_name %>"
          required
        />
        <label for="first_name">First Name</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          value="<%= user.last_name %>"
          placeholder="last_name"
          autocomplete="off"
        />
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          value="<%= user.email %>"
          placeholder="Email"
          autocomplete="off"
        />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          value="<%= user.phone %>"
          placeholder="Phone"
          autocomplete="off"
        />
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          name="comments"
          style="height: 100px"
        >
        <%= user.email %></textarea
        >
        <label for="floatingTextarea2">Comments</label>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
  <% }) %>
</div>
